<% provide :title, "Category" %>
<div class="row">
  <div class="col-sm-12">
    <div class="white-box">
      <h3 class="box-title">Basic Table</h3>
      <p class="text-muted">Add class <code>.table</code></p>
      <div class="table-responsive">
        <table class="table text-nowrap">
          <thead>
            <tr>
              <th class="border-top-0">Id</th>
              <th class="border-top-0">Name</th>
              <th class="border-top-0">Action</th>
              <th class="border-top-0"></th>
            </tr>
          </thead>
          <tbody class="admin-category">
            <%= render partial: "admin/categories/category", collection: @categories %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
