<div class="row">
  <div class="col-sm-12">
    <div class="white-box">
      <h3 class="box-title">Basic Table</h3>
      <p class="text-muted">Add class <code>.table</code></p>
      <div class="table-responsive">
        <table class="table text-nowrap">
          <thead>
            <tr>
              <th class="border-top-0">Id</th>
              <th class="border-top-0">Image</th>
              <th class="border-top-0">Name</th>
              <th class="border-top-0">Price</th>
              <th class="border-top-0">Residual</th>
              <th class="border-top-0">Sold</th>
              <th class="border-top-0">Category</th>
              <th class="border-top-0"></th>
              <th class="border-top-0">Action</th>
            </tr>
          </thead>
          <tbody class="admin-product">
            <%= render partial: "admin/products/product", collection: @products %>
          </tbody>
        </table>
        <div class="d-flex justify-content-center">
          <%= paginate @products, window: 2 %>
        </div>
      </div>
    </div>
  </div>
</div>
