<div class="category-area">
  <div class="container">
    <div class="row">
      <%# render category %>
      <%= render "categories/all_category"%>
      <div class="col-xl-9 col-lg-9 col-md-8 ">
        <div class="new-arrival new-arrival2 product-area">
          <div class="row">
            <%= render @products %>
            <div class="d-flex justify-content-center">
              <%= paginate @products, window: 2 %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
